body {
    margin: 0;
    overflow: hidden;
    background: rgb(5, 40, 12);
}

img {
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}